{% extends "layout.html" %} {% block body %}

<div>
  <h1 style="margin: 0 0 5px">Зміна паролю</h1>
  <p style="color: #afafaf">
    Натисніть на кнопку, щоб перейти до зміни паролю.
  </p>
  <div style="padding: 100px 0; font-size: 16px; margin: 0">
    <a
      style="
        padding: 15px 30px;
        background-color: #323232;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        display: block;
        max-width: 275px;
        margin: 0 auto;
      "
      href="{{link}}"
      >Змінити пароль</a
    >
  </div>
  <p style="color: #afafaf">
    Якщо ви не запитували зміну паролю, проігноруйте це повідомлення. Хтось міг
    помилково ввести вашу електронну адресу.
  </p>
  <p style="margin: 25px 0 0 0">
    <a
      href="{{homeAddress}}"
      style="font-size: 16px; color: #323232; text-decoration: none"
      >WallE</a
    >
  </p>
</div>

{% endblock %}
